<h1 class = "title">{{title}}</h1>


<table>
  <th></th><th></th><th></th> <th class = "Player">Player 1</th> <th></th>  <th></th><th></th><th class = "Player">Player 2</th><th></th><th></th>
  <tr>
    <td></td><td></td><td></td> <td>{{player_1}}</td> <td></td>   <td></td><td></td><td>{{player_2}}</td><td></td><td></td>
  </tr>
  <tr>
    <td></td><td></td><td></td> <td>Health</td> <td>{{player_1_health}}</td>   <td></td> <td>{{player_2_health}}</td> <td>Health</td> <td></td><td></td>
  </tr>
  <tr>
    <td></td><td></td><td></td> <td>Stamina</td> <td>{{player_1_health}}</td>   <td></td> <td>{{player_2_health}}</td> <td>Stamina</td> <td></td><td></td>
  </tr>
  <tr>
    <td></td><td></td><td>Move Slot</td><td></td> <td>{{player_1_move_card_number}}</td>   <td></td><td></td> <td>{{player_2_move_card_number}}</td> <td>Move Slot</td><td></td>
  </tr>
  <tr>
    <td></td><td></td><td>Mod Slot</td><td></td> <td>{{player_1_mod_card_number}}</td>   <td></td><td></td><td>{{player_2_mod_card_number}}</td> <td>Mod Slot</td><td></td>
  </tr>
  <tr>
    <td></td><td></td><td></td><td></td> <td></td>   <td></td> <td></td> <td></td> <td></td><td></td>
  </tr>
  <tr>
    <td></td><td></td><td></td><td></td> <td></td>   <td></td> <td></td> <td></td> <td></td><td></td>
  </tr>
</table>