<h1>
  {{ title }}
</h1>
<body>
  <nav>
    <div>
      <button class="button" (click)="this.game.resetGame()">Reset Game</button>
    </div>
  </nav>
  <!-- <div>
  <div class="bg-black text-white flex flex-row justify-between" *ngFor="let player of game.players; index as i">
    <div>{{ player.name }}</div>
    <div class="text-center text-"><label>Health:</label>{{ player.champion.health }}</div>
    <div><label>Stamina:</label>{{ player.champion.stamina }}</div>

    <div>
      <div>ModSlot:- {{ player.modSlot }}</div>
      <div>MoveSlot:- {{ player.moveSlot }}</div>
    </div>

    <div>
      <label *ngFor="let card of player.hand; index as cardIndex" >
        <input type="checkbox" onchange="updatePlayerChoice" [value]="cardIndex === player.modSlot || cardIndex === player.moveSlot" />
        {{ card.name }}
      </label>
    </div>

    <label>Deck Size: {{player.deck.length}}</label>
  </div>
</div> -->
  <div class="playercontainer">
    <div *ngFor="let player of game.players; index as i">
      <div>
        <button class="button" (click)="this.game.updatePlayerState(player)">
          Execute
        </button>
        <div class="cardcontainer">
          <h3>
            {{ player.name }}
          </h3>
          <h2>
            {{ player.champion.name }}
          </h2>
          <p>Health:- {{ player.champion.health }}</p>
          <p>Stamina:- {{ player.champion.stamina }}</p>
          <p>Energy:- {{ player.energy }}</p>
          <div>
            <article>
              <div>
                <span>Deck Size: </span>
                <span>{{ player.deck.length }} </span>
                <span>Discard Size: </span>
                <span>{{ player.discard.length }} </span>
              </div>
              <div style="margin: 10%;">
                <h3>
                  <div>MODSLOT :- {{ player.slots[CARD_TYPE.MOD]?.name }}<br /></div>
                  <div>MOVESLOT :- {{ player.slots[CARD_TYPE.MOVE]?.name }}<br /></div>
                </h3>
              </div>
              <div class="cardcontainer">
                <!-- <button type="checkbox" *ngFor="let card of player.hand" class="mt-5 bg-black text-xl p-2 m-2 leading-6 text-gray-600"> -->
                <p *ngFor="let card of player.hand; index as handindex;"  class="handcontainer">
                  <input
                    type="checkbox"
                    name="{{ player.name }}"
                    (click)="this.game.updatePlayerChoice(card, handindex, player)"
                    [disabled]="player.state == PLAYER_STATE.READY || this.game.gameState == PLAYER_STATE.WAIT ? true : null"
                  />
                    <!-- [value]="
                      cardIndex === player.modSlot ||
                      cardIndex === player.moveSlot
                    "
                  /> -->
                  {{ card.name }}
                </p>
                <!-- </button> -->
              </div>
            </article>
            <!-- More posts... -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    {{this.game.winning_statement}}
  </div>
</body>
