<h1 class = "title">{{title}}</h1>

<button onclick="executeRound">Execute Round</button>
<button onclick="startGame">Start Game</button>
<button onclick="resetGame">Reset Game</button>
<div>
  <div *ngFor="let player of players; index as i">
    <div>{{ player.name }}</div>
    <div><label>Health:</label>{{ player.champion.health }}</div>
    <div><label>Stamina:</label>{{ player.champion.stamina }}</div>

    <div>
      <div>{{ game.player[i].modSlot }}</div>
      <div>{{ game.player[i].moveSlot }}</div>
    </div>

    <div>
      <label *ngFor="let card of player.hand; index as cardIndex" >
        <input type="checkbox" onchange="updatePlayerChoice" [value]="cardIndex === game.player[i].modSlot || cardIndex === game.player[i].moveSlot" />
        {{ card.name }}
      </label>
    </div>

    <label>Deck Size: {{player.deck.length}}</label>
  </div>
</div>
